.container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards {
    display: flex;
    flex-wrap: nowrap;
    padding-inline-start: 0;
}

.card {
    margin: 5px;
    opacity: 0.3;
    list-style-type: none;
}

.form {
    margin-top: 25px;
}

.form-input {
    height: 30px;
    border-radius: 5px;
}

.btn {
    height: 30px;
    color: #fff;
    background-color: #5cb85c;
    border-color: #5cb85c;
    border-radius: 5px;
}

.btn:hover {
    background-color: rgb(24, 122, 40);
    border-color: #131813;
}

.valid {
    opacity: 100;
}

.messege {
    margin-top: 15px;
}